html {
    overflow: hidden;
    font-family: "Comic Sans MS";
}

body {
    margin: 0;
    cursor: default;
}

.button {
    -webkit-app-region: no-drag;
}

.top-bar {
    background: #333;
    position: fixed;
    top: 0;
    height: 30px;
    left: 0;
    right: 0;
    z-index: 30;
    -webkit-app-region: no-drag;
}

.header {
    -webkit-app-region: drag;
    height: 27px;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 2px;
    left: 2px;
    right: 2px;
    z-index: 100;
}
.header .left {
    height: 20px;
    width: 20px;
    left: 5px;
    position: fixed;
}
    .header .left img {
        height: 100%;
        width: 100%;
    }
.header .middle {
    padding-left: 10px;
    padding-right: 10px;
    left: 40px;
    position: absolute;
    display: flex;
}

    .header .middle .button {
        width: 30px;
    }

.header .right {
    right: 0;
    top: 1px;
    position: absolute;
    display: flex;
}
    .header .right input {
        -webkit-app-region: no-drag;
        height: 18px;
    }
    .header .right .button {
        width: 40px;
        font-size: 20px;
        text-align: center;
    }

.ui-msg {
    height: 30px;
    background: #464646;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
}
    .ui-msg .left {
        left: 0;
        padding-left: 10px;
        position: absolute;
    }
    .ui-msg .right {
        right: 0;
        position: absolute;
        display: flex;
    }
        .ui-msg .right .button {
            width: 40px;
            font-size: 20px;
            text-align: center;
        }

.body {
    overflow-x: hidden;
    top: 30px;
    left: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 0;
    background: white;
    position: absolute;
}

.world-item {
    height: 40px;
    width: 100%;
    top: -40px;
    display: flex;
    align-items: center;
    position: absolute;
    background: inherit;
}
    .world-item .left {
        height: 40px;
        width: 40px;
        left: 0;
        position: absolute;
    }
        .world-item .left img {
            height: 100%;
            width: 100%;
        }
        .world-item .left .fav {
            width: 100%;
            height: 100%;
            color: yellow;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    .world-item .middle {
        padding-left: 10px;
        padding-right: 10px;
        left: 40px;
        position: absolute;
    }
    .world-item .right {
        right: 0;
        padding-right: 10px;
        position: absolute;
        display: flex;
        align-items: center;
    }
        .world-item .right a {
            text-decoration: inherit;
            color: black;
            cursor: default;
        }
        .world-item .right i {
            height: 25px; 
            width: 25px;
            padding: 5px;
            text-align: center;
        }

.settings {
    overflow-x: hidden;
    background: lightgray;
    top: 30px;
    left: 100%;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 20;
}
    .settings div {
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .settings .backarrow .left {
        padding-left: 0px;
    }

    .settings .backarrow .left .button i {
        font-size: 20px;
    }

.properties {
    overflow-x: hidden;
    background: lightgray;
    top: 30px;
    left: 100%;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 20;
}
    .properties .backarrow {
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        align-items: center;
        display: flex;
    }

    .properties .backarrow .left {
        padding-left: 0px;
    }

        .properties .backarrow .left .button i {
            font-size: 20px;
        }

    .properties .propertyBody {
        top: 40px;
    }
        .properties .propertyImage {
            padding-left: 10px;
            padding-right: 10px;
            height: 250px;
            display: block;
            text-align: center;
        }

        .properties .propertyImage img {
            height: 100%;
        }

        .properties div {
            padding-left: 10px;
            padding-right: 10px;
            height: 40px;
            display: flex;
            align-items: center;
        }

        .properties div .right {
            right: 0;
            padding-right: 10px;
            position: absolute;
            display: flex;
            align-items: center;
        }

#installUpdate {
    display: none;
}